@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.containerFull{
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7)url('./Images/background.jpg');
    background-size: 1160px;
    background-position: cover;
    background-blend-mode: darken;
}


.container{
    width: 1140px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header .toggleNav{
    background-image: url("./Images/menu.png");
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 0;
    outline: none;
    background-size: cover;
    display: none;
}

header .logo{
    height: 50px;
    color: #fff;
    font-size: 2rem;
    padding-top: 2%;
}

span{
    color: rgb(33, 221, 174);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding-top: 5%;
}

header nav ul li a{
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

header nav ul li a:hover{
    color: aqua;
border-bottom: 3px solid rgb(33, 221, 174);
}    

.banner{
    color: #fff;
    width: 500px;
    direction: ltr;
    float: left;
}

.banner h1{
    margin-top: 170px;
    font-size: 2.5rem;
    line-height: 3rem;
    text-shadow: 0 0 5px #000;
}

.banner p{
    width: 70%;
    margin-top: 30px;
    font-size: 14px;
    text-shadow: 0 0 5px #000;
}



.banner a{
    display: inline-block;
    background: aqua;
    color: #000;
    font-family: 'Ubuntu',sans-serif; 
    margin-top: 20px;
    font-size: 20px;
    padding: 12px 36px;
    border-radius: 6px;
    border: 2px solid aqua;
    transition: all 0.3s ease;
    text-decoration: none;
}

.banner a:hover{
    color: #fff;
    background: none;
}

@media screen and (max-width: 1140px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) { 
    header .toggleNav{
        display: inline;
    }

    header nav{
        position: absolute;
        top: 50px;
        width: 300px;
        right: 15px;
        background-color: #000000f5;
        display: none;
    }

    header nav.active{
        display: block;
    }

    header nav ul li{
        display: block;
    }
    header nav ul li a{
        width: 100%;
        text-align: center;
    } 

    .containerFull{
        background-position-x: 30%;
    }

    .banner h1{
        margin-top: 120px;
    }
}

@media screen and (max-width: 425px) {
    .banner{
        width: 100%;
    }
    .banner h1{
        font-size: 2rem;
        line-height: 2rem;

    }
}

/* Gym Section Begins */
.Gym{
    text-align: center;
}













