@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.containerFull{
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7)url("./images/background.jpg");
    background-size: 1160px;
    background-position: cover;
    background-blend-mode: darken;
}

.container{
    width: 1140px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header .toggleNav{
    background-image: url("./images/bar.png");
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 0;
    outline: none;
    background-size: cover;
    display: none;
}

header .logo{
    height: 50px;
    color: #fff;
    font-size: 2rem;
    padding-top: 2%;
}

span{
    color: rgb(33, 221, 174);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding-top: 5%;
}

header nav ul li a{
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

header nav ul li a:hover{
border-bottom: 3px solid rgb(33, 221, 174);
}    

.banner{
    color: #fff;
    width: 500px;
    direction: ltr;
    float: left;
}

.banner h1{
    margin-top: 170px;
    font-size: 2.5rem;
    line-height: 3rem;
    text-shadow: 0 0 5px #000;
}

.banner p{
    width: 70%;
    margin-top: 30px;
    font-size: 14px;
    text-shadow: 0 0 5px #000;
}

.banner button{
    border: 0;
    outline: none;
    background-color: aqua;
    padding: 15px 50px;
    margin-top: 30px;
    color: #000;
    font-weight: 800;
}

@media screen and (max-width: 1140px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) { 

    
    header nav{
        position: absolute;
        top: 50px;
        width: 300px;
        right: 15px;
        background-color: #000000f5;
    }
    
}













